/* Add space after the navbar */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
.home-page .slick-slide {
  padding: 0 10px; /* Space between slides */
}

.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 100%;
  max-width: 18rem; /* Ensure cards don't exceed this width */
  margin: 0 auto;
}


@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; /* Add margin to move the banner lower */
    padding-top: 20px; /* Optional: Add padding to adjust the spacing */
 
  }
  .banner-img {
    margin-top: 20px; /* Additional margin if needed */
  }


 
}


.home-page h1 {
  color: gray;
  font-family: "Playfair Display", serif;
}

.home-page {
  display: flex;
  flex-wrap: wrap;
}
.home-page .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}
.home-page .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-page .card-price {
  color: green;
  font-weight: bold;
}
.home-page button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.home-page .card-text {
  color: rgb(90, 89, 89);
}

.home-page .card img:hover {
  transform: scale(0.9);
}

.home-page .card-img-top {
  height: 300px !important;
}
/* ==================
filters
============== */
.filters h4 {
  margin-top: 100px;
  color: gray !important;
  border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}

.ant-checkbox-wrapper:first-of-type {
  margin-left: 8px;
}

.ant-checkbox-wrapper {
  margin: 2px;
}
.ant-radio-wrapper {
  margin-bottom: 5px !important;
  margin-left: 10px;
}

.filters button {
  background-color: black;
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 20px;
}

.loadmore {
  color: green;
  font-weight: bold;
  font-size: 20px !important;
}
/* Homepage.css */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Adjust width and other properties as needed */
  width: 100%;
  max-width: 300px;
  margin: 10px; /* Add margin for spacing */
}

.card-img-top {
  width: 100%;
  /* Adjust height if needed */
  height: auto;
}

.card-body {
  text-align: center;
}
/* Homepage.css */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.banner-logo {
  max-width: 150px;
  margin: 0 auto;
}

.banner-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .banner-container {
    flex-direction: column;
   
  }
 
}





